<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <import resource="persistence-production.xml"/>
    <import resource="persistence-test.xml"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:report.properties"/>
    </bean>

    <bean id="reportGenerator" class="org.tai.spring.wiring.application.ReportGenerator">
        <constructor-arg name="reportLocation" value="${report.location}"/>
        <constructor-arg name="transactionService" ref="transactionService"/>
    </bean>

    <bean id="transactionService" class="org.tai.spring.wiring.application.TransactionService">
        <constructor-arg name="repository" ref="transactionRepository"/>
        <constructor-arg name="service" ref="summaryService"/>
    </bean>

    <bean id="transactionRepository" class="org.tai.spring.wiring.domain.repository.TransactionRepository">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="summaryService" class="org.tai.spring.wiring.domain.service.SummaryService"/>

</beans>


